main{
  .sec-1{
    margin: 100px auto;

    .sec-1-left{
      h1{
        margin-bottom: 30px;
        font-size: 50px;
        color: #58402c;
        font-weight: 600;
        line-height: 1.4;
      }
      p{
        margin-bottom: 30px;
        font-size: 1.375rem;
        color: #58402c;
        line-height: 1.5;
      }
      .sec-1-left-login{
        margin-bottom: 30px;
        a{
          @include buttonLogin();
        }
        a:hover{
          @include buttonLoginHover();
        }
        span.or{
          display: inline-block;
          height: 35px;
          width: 38px;
          line-height: 35px;
          font-size: .8125rem;
          color: #bdb5af;
          text-align: center;
          margin: auto;
        }
      }
      .sec-1-left-login-extra{
        a{
          color: #58402c;
          font-size: 14px;
          i::before{
            content: "\2192";
          }
        }
        a:hover{
          color: #30488f;
        }
      }
    }
    .sec-1-right{
      img{
        width: 100%;
      }
    }
  }
  .sec-2{
    padding: 80px 0;
    background-color: #ffe7d2;
    .sec-2-top{
      max-width: 860px;
      margin: 0 auto;
      text-align: center;
      h2{
        margin: 0 auto 50px;
        display: block;
        max-width: 648px;
        font-size: 26px;
        font-weight: 600;
        line-height: 1.5;
        color: #58402c;
      }
      .width-33.margin-bottom-36 img{
        max-width: 140px;
        height: 105px;
        margin-bottom: 20px;
        object-fit: contain;
      }
      .width-33.margin-bottom-36 figcaption{
        color: rgb(88, 64, 44);
        font-size: 18px;
        line-height: 1.5;
      }
      img:last-child{
        max-width: 280px;
        margin-top: 36px;
      }
    }

    hr{
      margin: 80px 0;
      height: 0;
      border-width: 0;
      border-top: 1px solid #bdb5af;
    }

    .sec-2-bottom{
      @extend .sec-2-top;

    }
    .sec-2-bottom > img{
      max-width: 280px;
      margin-top: 36px;
    }
    .sec-2-bottom > p{
      @extend h2;
      font-weight: 600;
      margin-top: 80px;
      margin-bottom: 0;
    }
  }
  .sec-3{
    padding-top: 80px;
    padding-bottom: 25px;
    h3{
      font-size: 26px;
      line-height: 1.5;
      margin-bottom: 15px;
      color: #58402c;
      font-weight: 600;
    }
    p{
      margin-bottom: 40px;
      font-size: 22px;
      line-height: 1.5;
    }
    a{
      margin-bottom: 40px;
      font-size: 22px;
      color: #30488F;
      display: block;
      i::before{
        content: "\2192";
      }
    }
    .img-feedback img{
      width: 270px;
    }
  }
  .sec-4{
    @extend .sec-3;
  }
  .sec-5{
    @extend .sec-3;
    .img-feedback img{
      width: 320px;
    }
  }
  .sec-6{
    @extend .sec-3;
  }
  .sec-7{
    padding: 80px 0;
    background: #ffe7d2;
    text-align: center;
    h5{
      font-size: 40px;
      line-height: 1.5;
      color: #58402c;
      margin-bottom: 50px;
      font-weight: 600;
    }
    .citazione-container{
      position: relative;
      max-width: 628px;
      margin: 35px auto;
      padding: 20px 20px 20px 40px;
      border: 1px solid #bdb5af;
      border-radius: 7px;
      background: #fff;
      .quote{
        position: absolute;
        width: 37px;
        height: 39px;
        left: -1px;
        top: -23px;
      }
      p{
        text-align: left;
        margin-bottom: 25px;
        font-size: 16px;
        line-height: 1.5;
        color: rgb(88, 64, 44);
      }
      .founders{
        text-align: left;
        img{
          height: 38px;
          width: 38px;
          float: left;
          margin-right: 12px;
        }
        span{
          display: block;
          font-size: 14px;
          color: rgb(88, 64, 44);
        }
        span:nth-child(3){
          color: #30488f;
        }
      }
    }
    .sec-7-login{
      margin-bottom: 30px;
      a{
        @include buttonLogin();
      }
      a:hover{
        @include buttonLoginHover();
      }
      span.or{
        display: inline-block;
        height: 35px;
        width: 38px;
        line-height: 35px;
        font-size: .8125rem;
        color: #bdb5af;
        text-align: center;
        margin: auto;
      }
    }
    .sec-7-login-extra{
      a{
        color: #58402c;
        font-size: 14px;
        i::before{
          content: "\2192";
        }
      }
      a:hover{
        color: #30488f;
      }
    }
  }
}
