*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

ul{
  list-style-type: none;
  li{
    display: inline-block;
  }
}

a{
  text-decoration: none;
}

.width-50{
  width: 50%;
}
