header{
  height: 75px;
  margin-bottom: 40px;
  .container-header{
    max-width: 1150px;
    margin: auto;
    padding: 20px 0;
    border-bottom: 1px solid rgb(189, 181, 175);
    .header-left{
      float: left;
      height: 35px;
      display: flex;
      align-items: center;
      a{
        display: contents;
      }
    }
    .header-right{
      float: right;
      height: 35px;
      align-items: center;
      li{
        margin-left: 20px;
        a{
          color: rgb(88, 64, 44);
          padding: 0 10px;
          font-size: 14px;
          font-weight: 600;
          height: 35px;
          line-height: 35px;
          vertical-align: middle;
          display: block;
        }
        a:hover{
          color: #30488f;
        }
        .bottone-g{
          color: rgb(48, 72, 143);
          border: 1px solid rgb(48, 72, 143);
          border-radius: 6px;
        }
        a.bottone-g:hover{
          background-color: rgb(48, 72, 143);
          color: white;
        }
        .drop-menu-header{
          box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
          background: #fff;
          border: 1px solid #e1ddd4;
          border-radius: 7px;
          display: none;;
          position: absolute;
          width: 100%;
          li{
            display: block;
            margin: 0;
          }
        }
      }
      li:first-child{
        position: relative;
        .arrow-down{
          vertical-align: sub;
          display: inline-block;
        }
        .arrow-down-hover{
          vertical-align: sub;
          display: none;
        }
      }
      li:first-child:hover > a{
        color: #30488f;
      }
      li:first-child:hover .drop-menu-header{
        display: block;
      }
      li:first-child:hover .arrow-down{
        display: none;
      }
      li:first-child:hover .arrow-down-hover{
        display: inline-block;
      }
    }
  }
}

.img-header-g{
  height: 18px;
  width: 18px;
  margin-right: 3px;
  vertical-align: sub;
}
