@mixin buttonLogin(){
  color: white;
  background-color: rgb(48, 72, 143);
  border: 1px solid rgb(48, 72, 143);
  border-radius: 6px;
  padding: 0 20px;
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  display: inline-block;
}

@mixin buttonLoginHover(){
  background-color: #233569;
}

@mixin imgPage(){
  max-width: 768px;
}
