@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
}

a {
  text-decoration: none;
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.width-50 {
  width: 50%;
  float: left;
}

.width-1150px {
  max-width: 1150px;
  margin: 0 auto;
}

.width-420 {
  max-width: 420px;
}

.width-33 {
  width: 33%;
  float: left;
}

.width-18-margin-left-2 {
  width: 18%;
  float: left;
  margin-left: 2%;
}

.margin-bottom-36 {
  margin-bottom: 36px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-top-30 {
  margin-top: 30px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-right-10 {
  padding-right: 10px;
}

.img-page {
  max-width: 768px;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

header {
  height: 75px;
  margin-bottom: 40px;
}

header .container-header {
  max-width: 1150px;
  margin: auto;
  padding: 20px 0;
  border-bottom: 1px solid #bdb5af;
}

header .container-header .header-left {
  float: left;
  height: 35px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

header .container-header .header-left a {
  display: contents;
}

header .container-header .header-right {
  float: right;
  height: 35px;
  -webkit-box-align: center;
          align-items: center;
}

header .container-header .header-right li {
  margin-left: 20px;
}

header .container-header .header-right li a {
  color: #58402c;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 600;
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  display: block;
}

header .container-header .header-right li a:hover {
  color: #30488f;
}

header .container-header .header-right li .bottone-g {
  color: #30488f;
  border: 1px solid #30488f;
  border-radius: 6px;
}

header .container-header .header-right li a.bottone-g:hover {
  background-color: #30488f;
  color: white;
}

header .container-header .header-right li .drop-menu-header {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  background: #fff;
  border: 1px solid #e1ddd4;
  border-radius: 7px;
  display: none;
  position: absolute;
  width: 100%;
}

header .container-header .header-right li .drop-menu-header li {
  display: block;
  margin: 0;
}

header .container-header .header-right li:first-child {
  position: relative;
}

header .container-header .header-right li:first-child .arrow-down {
  vertical-align: sub;
  display: inline-block;
}

header .container-header .header-right li:first-child .arrow-down-hover {
  vertical-align: sub;
  display: none;
}

header .container-header .header-right li:first-child:hover > a {
  color: #30488f;
}

header .container-header .header-right li:first-child:hover .drop-menu-header {
  display: block;
}

header .container-header .header-right li:first-child:hover .arrow-down {
  display: none;
}

header .container-header .header-right li:first-child:hover .arrow-down-hover {
  display: inline-block;
}

.img-header-g {
  height: 18px;
  width: 18px;
  margin-right: 3px;
  vertical-align: sub;
}

main .sec-1 {
  margin: 100px auto;
}

main .sec-1 .sec-1-left h1 {
  margin-bottom: 30px;
  font-size: 50px;
  color: #58402c;
  font-weight: 600;
  line-height: 1.4;
}

main .sec-1 .sec-1-left p {
  margin-bottom: 30px;
  font-size: 1.375rem;
  color: #58402c;
  line-height: 1.5;
}

main .sec-1 .sec-1-left .sec-1-left-login {
  margin-bottom: 30px;
}

main .sec-1 .sec-1-left .sec-1-left-login a {
  color: white;
  background-color: #30488f;
  border: 1px solid #30488f;
  border-radius: 6px;
  padding: 0 20px;
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  display: inline-block;
}

main .sec-1 .sec-1-left .sec-1-left-login a:hover {
  background-color: #233569;
}

main .sec-1 .sec-1-left .sec-1-left-login span.or {
  display: inline-block;
  height: 35px;
  width: 38px;
  line-height: 35px;
  font-size: 0.8125rem;
  color: #bdb5af;
  text-align: center;
  margin: auto;
}

main .sec-1 .sec-1-left .sec-1-left-login-extra a {
  color: #58402c;
  font-size: 14px;
}

main .sec-1 .sec-1-left .sec-1-left-login-extra a i::before {
  content: "\2192";
}

main .sec-1 .sec-1-left .sec-1-left-login-extra a:hover {
  color: #30488f;
}

main .sec-1 .sec-1-right img {
  width: 100%;
}

main .sec-2 {
  padding: 80px 0;
  background-color: #ffe7d2;
}

main .sec-2 .sec-2-top,
main .sec-2 .sec-2-bottom {
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
}

main .sec-2 .sec-2-top h2,
main .sec-2 .sec-2-top .sec-2-bottom > p,
main .sec-2 .sec-2-bottom h2,
main .sec-2 .sec-2-bottom > p {
  margin: 0 auto 50px;
  display: block;
  max-width: 648px;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.5;
  color: #58402c;
}

main .sec-2 .sec-2-top .width-33.margin-bottom-36 img,
main .sec-2 .sec-2-bottom .width-33.margin-bottom-36 img {
  max-width: 140px;
  height: 105px;
  margin-bottom: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

main .sec-2 .sec-2-top .width-33.margin-bottom-36 figcaption,
main .sec-2 .sec-2-bottom .width-33.margin-bottom-36 figcaption {
  color: #58402c;
  font-size: 18px;
  line-height: 1.5;
}

main .sec-2 .sec-2-top img:last-child,
main .sec-2 .sec-2-bottom img:last-child {
  max-width: 280px;
  margin-top: 36px;
}

main .sec-2 hr {
  margin: 80px 0;
  height: 0;
  border-width: 0;
  border-top: 1px solid #bdb5af;
}

main .sec-2 .sec-2-bottom > img {
  max-width: 280px;
  margin-top: 36px;
}

main .sec-2 .sec-2-bottom > p {
  font-weight: 600;
  margin-top: 80px;
  margin-bottom: 0;
}

main .sec-3,
main .sec-6,
main .sec-5,
main .sec-4 {
  padding-top: 80px;
  padding-bottom: 25px;
}

main .sec-3 h3,
main .sec-6 h3,
main .sec-5 h3,
main .sec-4 h3 {
  font-size: 26px;
  line-height: 1.5;
  margin-bottom: 15px;
  color: #58402c;
  font-weight: 600;
}

main .sec-3 p,
main .sec-6 p,
main .sec-5 p,
main .sec-4 p {
  margin-bottom: 40px;
  font-size: 22px;
  line-height: 1.5;
}

main .sec-3 a,
main .sec-6 a,
main .sec-5 a,
main .sec-4 a {
  margin-bottom: 40px;
  font-size: 22px;
  color: #30488F;
  display: block;
}

main .sec-3 a i::before,
main .sec-6 a i::before,
main .sec-5 a i::before,
main .sec-4 a i::before {
  content: "\2192";
}

main .sec-3 .img-feedback img,
main .sec-6 .img-feedback img,
main .sec-5 .img-feedback img,
main .sec-4 .img-feedback img {
  width: 270px;
}

main .sec-5 .img-feedback img {
  width: 320px;
}

main .sec-7 {
  padding: 80px 0;
  background: #ffe7d2;
  text-align: center;
}

main .sec-7 h5 {
  font-size: 40px;
  line-height: 1.5;
  color: #58402c;
  margin-bottom: 50px;
  font-weight: 600;
}

main .sec-7 .citazione-container {
  position: relative;
  max-width: 628px;
  margin: 35px auto;
  padding: 20px 20px 20px 40px;
  border: 1px solid #bdb5af;
  border-radius: 7px;
  background: #fff;
}

main .sec-7 .citazione-container .quote {
  position: absolute;
  width: 37px;
  height: 39px;
  left: -1px;
  top: -23px;
}

main .sec-7 .citazione-container p {
  text-align: left;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 1.5;
  color: #58402c;
}

main .sec-7 .citazione-container .founders {
  text-align: left;
}

main .sec-7 .citazione-container .founders img {
  height: 38px;
  width: 38px;
  float: left;
  margin-right: 12px;
}

main .sec-7 .citazione-container .founders span {
  display: block;
  font-size: 14px;
  color: #58402c;
}

main .sec-7 .citazione-container .founders span:nth-child(3) {
  color: #30488f;
}

main .sec-7 .sec-7-login {
  margin-bottom: 30px;
}

main .sec-7 .sec-7-login a {
  color: white;
  background-color: #30488f;
  border: 1px solid #30488f;
  border-radius: 6px;
  padding: 0 20px;
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  display: inline-block;
}

main .sec-7 .sec-7-login a:hover {
  background-color: #233569;
}

main .sec-7 .sec-7-login span.or {
  display: inline-block;
  height: 35px;
  width: 38px;
  line-height: 35px;
  font-size: 0.8125rem;
  color: #bdb5af;
  text-align: center;
  margin: auto;
}

main .sec-7 .sec-7-login-extra a {
  color: #58402c;
  font-size: 14px;
}

main .sec-7 .sec-7-login-extra a i::before {
  content: "\2192";
}

main .sec-7 .sec-7-login-extra a:hover {
  color: #30488f;
}

footer {
  margin-top: 50px;
  padding: 55px 0;
}

footer .footer-left {
  position: relative;
}

footer .footer-left img {
  height: 50px;
  width: 50px;
  margin-bottom: 15px;
}

footer .footer-left span {
  position: absolute;
  top: 0;
  left: 65px;
  line-height: 1.3;
  font-size: 18px;
  color: #58402c;
  font-weight: 600;
  margin-right: 15px;
}

footer .footer-left span a {
  color: #30488F;
}

footer .footer-left span a:hover {
  text-decoration: underline;
}

footer .footer-right {
  width: 65%;
  float: left;
  margin-left: 2%;
}

footer .footer-right h6 {
  font-size: 18px;
  font-weight: 600;
  color: #58402c;
  margin-bottom: 15px;
}

footer .footer-right a {
  color: #58402c;
}

footer .footer-right a:hover {
  color: #30488f;
}

footer .footer-right li {
  line-height: 2.4;
  font-size: 14px;
}

